@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Verdana, sans-serif;
}

body,
table,
input,
textarea {
    font: inherit;
}

.site {
    max-width: 85em;
    margin: 0 auto;
}

.site-header,
.site-header a {
    color: #fff;
}

.site-header {
    background: url("image/computer-main.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    text-shadow: 0 0.08em rgba(0, 0, 0, 0.8);
}

.site-header::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
    z-index: 1;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em 4em;
    position: relative;
    z-index: 2;
}

.cta {
    position: relative;
    font-size: 1.2em;
    padding: 2em 0;
    text-align: center;
    z-index: 2;
}

.cta h2 {
    font-size: 2em;
    text-shadow: 0 0.08em rgba(0, 0, 0, 0.8);
    padding: 1em 0;
}

.cta .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.cta .buttons {
    margin: 0 0 1em 0;
}

.button {
    display: block;
    line-height: 1;
    padding: 0.8em 1.2em;
    text-decoration: none;
}

.button-primary {
    background: aqua;
    border-radius: 0.3em;
    border: 2px solid transparent;
}

.button-primary:hover {
    background: none;
    border-color: #fff;
}

.section-with-image {
    display: flex;
}

.section-with-image > div {
    flex: 0 0 50%;
}

.section-with-image .media {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}

.section-with-image .media img {
    display: block;
    width: auto;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-with-image .content {
    padding: 2em 4em;
}

.list-checks {
    padding: 2em;
}

.list-checks li {
    padding-bottom: 1em;
}

.questions {
    background: rgb(176, 242, 271);
    padding: 2em 3em;
}

.questions h2 {
    text-align: center;
    padding-bottom: 2em;
}

.questions ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.questions ul li {
    list-style: none outside;
    flex: 0 0 30%;
    text-align: center;
    margin-bottom: 2em;
}

.questions ul li strong {
    display: block;
    font-size: 1.2em;
}

.questions p {
    text-align: center;
}

.questions p a {
    font-weight: bold;
    color: #000;
}

.list-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2em;
}

.list-icons li {
    list-style: none outside;
    display: block;
    flex: 0 0 50%;
    text-align: center;
    color: rgb(0, 211, 141);
    font-weight: normal;
    margin-bottom: 2em;
}

.list-icons li img {
    display: block;
    margin: 0 auto 1em auto;
    width: 70%;
    height: auto;
}

section header.center {
    text-align: center;
}
