*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

div {
    padding: 1em;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}
