*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 5em);
    grid-template-rows: repeat(5, 5em);
    gap: 0.5em;
    justify-content: center;
    align-content: center;
}

div {
    border: 1px solid #000;
    border-radius: 0.5em;
}

div:nth-child(odd) {
    background: #000;
}
