* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 16px/1.5 Verdana, sans-serif;
    box-sizing: border-box;
}

body,
form,
select,
input[type="text"],
input[type="password"],
textarea,
option {
    font: inherit;
}

form {
    margin-top: 1rem;
    display: flex;
}

fieldset {
    padding: 2rem;
    border: 1px solid #666;
    position: relative;
}

fieldset legend {
    padding: 0.3rem 5rem 0.3rem 1rem;
    border: 1px solid #666;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-1px, -50%);
    background: #fff;
    border-radius: 0.2rem;
    font-size: 14px;
}

fieldset p.input-field {
    position: relative;
}

fieldset p:not(:last-child) {
    padding-bottom: 1.5rem;
}

fieldset label {
    display: block;
    font-weight: bold;
}
fieldset i {
    position: absolute;
    top: 1.8rem;
    left: 0.5rem;
}

fieldset input[type="text"],
fieldset input[type="password"] {
    display: block;
    min-width: 100%;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.2rem;
    padding-left: 2rem;
}

fieldset input[type="text"]:hover + i,
fieldset input[type="password"]:hover + i {
    color: #090;
}

fieldset input[type="text"]:hover,
fieldset input[type="text"]:focus,
fieldset input[type="password"]:hover,
fieldset input[type="password"]:focus {
    border: 1px solid #090;
}

fieldset input[type="submit"] {
    padding: 0.2rem 0.5rem;
}
