body {
    margin: 2em;
}

@media (min-width: 500px) {
}

@media (min-width: 700px) {
    html {
        font-size: var(--font-size-medium);
    }
}

@media (min-width: 1600px) {
    html {
        font-size: var(--font-size-large);
    }
}
