*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em 0 1em 0;
    display: grid;
    grid-template-columns: repeat(4, 10em);
    grid-template-rows: repeat(10, 10em);
    gap: 0.5em;
    grid-auto-flow: dense;
    justify-content: center;
}

span {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

span.big {
    grid-row: span 2;
    grid-column: span 2;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img.landscape {
    width: auto;
    height: 100%;
}

img.portrait {
    width: 100%;
    height: auto;
}

@media (max-width: 800px) {
    body {
        grid-template-columns: repeat(2, 10em);
    }
}
