p {
    padding-bottom: 1rem;
}

body {
    width: 56.25%;
    margin: 0 auto;
    background: rgb(238, 238, 238);
}

.site-title-but-judge-is-shit {
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: 2em 0 1em 0;
}

.site-title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.entry,
.entry-title {
    margin-bottom: 1rem;
}

.site-content,
.site-sidebar {
    float: left;
}

.site-content {
    width: 75%;
    margin-right: 5%;
}

.site-sidebar {
    width: 20%;
}

.site-content img {
    padding: 0.5em;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.25);
}

article.main-article img,
article.secondary-article .entry-quotes {
    margin: 0 0 1em 1em;
    float: right;
}

article.secondary-article img {
    margin: 0 1em 1em 0;
    float: left;
}

.entry-quotes {
    width: 49%;
    padding-left: 1.5em;
    border-left: 3px solid #ddd;
    font-style: italic;
    color: rgba(0, 0, 0, 0.6);
}

.entry-quotes p:last-child {
    text-align: right;
}
