@import url('reset.css');
@import url('header.css');
.site-promotion {
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('img/header-flowers.jpg') center center;
    background-size: cover;
    padding: 15rem 0;
    color: #fff;
}