@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
.button {
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

.green {
    background: #008000;
}

.orange {
    background: #ff8c00;
}