@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 16px/1.2 "Montserrat", sans-serif;
    box-sizing: border-box;
}

body,
table,
form,
input,
textarea,
select,
option {
    font: inherit;
}

ul {
    list-style: none outside;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 40em;
    height: 50em;
    padding: 2em;
    background: rgb(173, 216, 230);
}

fieldset {
    border: none;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sections {
    width: 100%;
    margin-left: 2em;
    display: flex;
    color: #234465;
    align-items: center;
}

.sections.form-message {
    align-items: flex-start;
}

.sections > input,
.sections > select,
.sections > textarea {
    width: 50%;
    border: 1px solid #a9a9a9;
    padding: 0.5em;
}

.sections > label {
    min-width: 6.5em;
}

.form-header {
    font-family: "PT Serif", serif;
    color: #234465;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1em;
}

.form-gender ul {
    display: flex;
}

.form-gender li {
    display: flex;
    align-items: center;
}

.form-gender li:first-child {
    margin-right: 1em;
}

.form-gender li input {
    margin-right: 0.5em;
}

.form-term-conditions {
    color: #234465;
    margin-top: 1em;
}

.form-submit {
    display: flex;
    justify-content: center;
}

.form-submit input[type="submit"] {
    padding: 1rem 3.5rem;
    border: 3px solid #234465;
    background: #234465;
    color: #fff;
    border-radius: 0.3em;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1em;
}
