*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 var(--font-content);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-headings);
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
}

body {
    max-width: 50.5em;
    margin: 3em auto;
}

article > header {
    text-align: center;
}
