* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 20px/1.5 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

p {
    padding-bottom: 1em;
}

.container {
    padding: 0 3em;
}

.sticky {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    position: sticky;
    top: 1em;
    background: #000;
    opacity: 0.3;
    font-size: 30px;
    color: #fff;
}