@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");

form {
    background: #999;
}

form fieldset {
    width: 15em;
    margin: 0 auto;
    border: none;
}

form legend {
    display: block;
    width: 100%;
    text-align: center;
}

form .field {
    display: flex;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

form .field label,
form .field input {
    border: 1px solid #005;
    padding: 0.4em;
    background: #fff;
}

form .field * {
    order: 3;
}

form .field > span,
form .field > div {
    width: 100%;
    /* for front-end js messages */
    display: none;
}

form .field label {
    order: 1;
    display: block;
    position: relative;
    border-right: 0;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

form .field input {
    flex-grow: 1;
    border-left: 0;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}

form .field label > span {
    width: 15em;
    position: absolute;
    top: -1.3em;
    left: -0.5em;
}

form .field label > span span {
    font-size: 0.7rem;
    opacity: 0.5;
}

form .field input:required ~ label > span::before {
    display: inline-block;
    content: "*";
    color: #f00;
    padding-right: 0.3em;
}

form .field input:required ~ label > span {
    left: -0.8em;
}

.field-icon label::before {
    display: block;
    content: "A";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border-right: 1px solid #000;
    width: 1.5em;
}

.field-icon.email label::before {
    content: "\f0e0";
}

.field-icon.user label::before {
    content: "\f007";
}

.field-icon.pass label::before {
    content: "\f023";
}

.field-icon.mobile label::before {
    content: "\f3cd";
}

form .field input {
    order: 2;
    outline: none;
}

form .field input:focus,
form .field input:focus ~ label {
    border-color: green;
}
