*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px/1.5 Helvetica, sans-serif;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font: 1em/1.2 Georgia, serif;
}

body {
    background: rgb(238, 238, 238);
}

.card {
    background: rgb(255, 255, 255);
}

button {
    background: rgb(0, 153, 0);
}
