/* Reset */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
    box-sizing: border-box;
}

blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
    font: 1em/1.2 Georgia, serif;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}

body,
input,
textarea,
option,
select,
table,
form {
    font: inherit;
}

p {
    padding-bottom: 1rem;
}

/* Layouts */

body {
    width: 55%;
    margin: 0 auto;
    background: rgb(238, 238, 238);
}

.site-header {
    border-bottom: 3px solid rgb(0, 0, 0);
    margin: 2em 0 1em 0;
}

.site-title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.page {
    display: flex;
}

.entry,
.entry-title {
    margin-bottom: 1rem;
}

.container img {
    padding: 0.5em;
    border: 3px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.25);
}

article.main-article img,
article.secondary-article .entry-quotes {
    margin: 0 0 1em 1em;
    float: right;
}

article.secondary-article img {
    margin: 0 1em 1em 0;
    float: left;
}

.entry-quotes {
    width: 49%;
    padding-left: 1.5em;
    border-left: 3px solid #ddd;
    font-style: italic;
    color: rgba(0, 0, 0, 0.75);
}

.entry-quotes p:last-child {
    text-align: right;
}
