* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, serif;
}

p, h1 {
    padding-bottom: 1rem;
}

.site {}

.site-header {
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.site-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

.site-navigation {
    display: flex;
}

.site-navigation ul {
    display: flex;
}

.site-navigation li {
    padding: 0.1em 1.2em;
    display: flex;
    list-style: none outside;
}

.site-navigation a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}

.site-main {}