body {
    max-width: 70rem;
    margin: 0 auto;
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

img {
    width: 75%;
    height: auto;
}

.site-article, .site-sidebar {
    display: inline-block;
}

.site-article {
    width: 70%;
}

.site-sidebar {
    width: 29%;
    vertical-align: top;
}